$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$backround-sombre: lightgray;
$background-clair: #f2f2f2;
$border: grey;

@mixin disp {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#loader{
    width: 100px;
    height: 100px;
    animation: spinner 3s linear;
    animation-fill-mode: forwards;
    background-color: transparent;
    border-radius: 60px;
    border: 10px solid transparent;
    border-top: 10px solid $border!important;
    border-bottom: 10px solid $border!important;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
}
@keyframes ecran{
    0%{
        visibility: hidden;
    }
    99%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes spinner{
    0%{
        transform: rotate(0deg);
        
    }
    99%{
        visibility: visible;
    }
    100%{
        transform:rotate(360deg);
        visibility: hidden;
        
    }
}
#corps{
    animation: ecran 3s linear;
    animation-fill-mode: forwards;
}
body{
    font-family: 'Roboto', sans-serif;
}
#TETE{
    @include disp;
}
#ville{
    @include disp;
    &__loc{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: #eaeaea;
        box-shadow: 0px -5px 2px #dcdcdc;
        margin-top: 20px;
        #ville__map{
            padding-right: 20px;
            margin-left: -10%;
        }
        p{
            font-size: 22px;
        }
    }
}
#map{
    color: black;
}
#oh{
    @include disp;
    &__menu{
        display: flex;
        flex-direction: column;
        background-color: #f6f6f6;
        text-align: center;
        width: 100%;
        align-items: center;
        padding-top: 20px;
        #oh__menu--titre{
        text-align: center;
        width: 80%;
        margin-bottom: 0px;
        font-size: 36px;
        font-weight: max;
        }
        #oh__menu--txt{
            text-align: center;
            font-size: 24px;
            font-weight: 400;
            width: 90%;
        }
    }
}
#bouton{
    width: 60%;
    height: 70px;
    background: linear-gradient($couleur-secondaire, $couleur-primaire);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    &__explorer{
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 22px;
    }
}
#bouton:hover{
    filter: brightness(120%);
}
main{
    @include disp;
    flex-direction: column;
}
#fonct{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 5%;
    height: 500px;
    padding-top: 50px;
    .fonct__list{
    display: flex;
    margin-bottom: 20px;
    margin-top: 5px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    }
}
.fonct__list--txt{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: $background-clair;
    margin-left: -15px;
    order: 1;
    margin-right: -15px;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    font-size: 22px;
    box-shadow: 5px 5px 5px lightgray;
   
}
.fonct__list--number{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: $couleur-primaire;
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: 400;
    order: 2;
}
.fonct__list--logo{
    padding-left: 20px;
    padding-right: 10px;
}
#violet{
    background-color: #eedeee;
}
#mobile{
    color: gray;
    font-size: 22px;
    padding: 15px;
}
#list{
    color: gray;
    font-size: 22px;
    padding: 15px;
}
#store{
    color: $couleur-primaire;
    font-size: 22px;
    padding: 15px;
}
#Restaurants{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 1100px;
    background-color: $background-clair;
    padding-left: 5%;
    justify-content: space-evenly;
    padding-bottom: 80px;
    padding-top: 15px;
    h1{
        font-size: 30px;
    }
}
.Resto__titre{ 
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    h2{
        margin-bottom: 0px;
        margin-top: 5px;
    }
    p{
        font-size: 20px;
        margin-top: 5px;
    }
    .vide{
        display: block;
        .heart{
            color: black;
            padding-bottom: 20px;
            padding-right: 15px;
        }
    }
    .coeur{
        display: none;
        .remplissage{
            background: linear-gradient(#9356DC, #FF79DA);
            color: transparent;
            -webkit-background-clip: text;
            padding-bottom: 20px;
            padding-right: 15px;
        }
    }
}
.Restaurants__list{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 230px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 5px lightgrey;
    align-items: center;
    a{
        color: black;
        text-decoration: none;
        width: 100%;
    }
}
.Restaurants__list--image{
    width: inherit;
}
.image{
    width: inherit;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.image:hover{
    cursor: pointer;
}
.Restaurants__list--Resto{
    position: relative;
    width: inherit;
}
.Restaurants__list--Nouveau{
    background-color: $couleur-tertiaire;
    position: absolute;
    right: 3%;
    transform: translate(0, -140px);
    font-weight: bold;
    color: green;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 2px;
    line-height: 30px;
}
.Restaurants__list:hover{
    transform: scale(1.05);
}
footer{
    width: 100%;
}
#pied{
    @include disp;
    &__contact{
        background-color: black;
        display: flex;
        flex-direction: column;
        color: white;
        width: 93%;
        height: 300px;
        justify-content: flex-start;
        padding-left: 7%;
        font-size: 20px;
        padding-top: 25px;
        #pied__logo{
            filter: invert(100%);
            padding-top: 15px;
            padding-bottom: 5px;
            width: 100%;
        }
        #gras{
            display: flex;
            flex-direction: column;
        }
        #normal{
            display: flex;
            flex-direction: column;
        }
        .pied__lien{
            text-decoration: none;
            color: white;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
#ustensile{
    color: white;
    padding-right: 20px;
    padding-top: 25px;
}
#mains{
    color: white;
    padding-right: 10px;
}
#haut{
    @include disp;
    height: 60px;
    &__retour{
        display: flex;
        width: 100%;
        align-items: center;
        #haut__flèche{
            width: 10%;
            margin-left: 5%;
        }
        #haut__logo{
        width: 90%;
        margin-left: 20%
        }
    }
}
#Resto{
    @include disp;
    flex-direction: column;
    .Resto__image{
        width: 100%;
    }
        &__formule{
        background-color: $background-clair;
        width: 100%;
        margin-top: -50px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .Resto__titre{
            padding-top: 50px;
            height: 40px;
        }
        h1{
            font-family: 'Shrikhand', sans-serif;
            font-size: 36px;
            padding-bottom: 20px;
        }
        .Resto__txt{
            display: flex;
            flex-direction: column;
            width: 90%;
            align-items: flex-start;
            h2{
                margin-top: 40px;
                margin-bottom: 0px;
                font-weight: 400;
            }
            .Resto__trait{
                border-top: 4px solid $couleur-tertiaire;
                width: 50px;
                height: 1px;
                margin-top: 5px;
            }
            .Resto__box{
                display: flex;
                width: 100%;
                height: 80px;
                border-radius: 15px;
                box-shadow: 5px 5px 5px lightgray;
                align-items: center;
                background-color: white;
                margin-top: 15px;
                .Resto__contenu{
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                    .Resto__menu{
                        width: 80%;
                        .Resto__h3 {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            width: 100%;
                            margin-bottom: 5px;
                            font-size: 22px;
                        }
                        .Resto__p{
                            margin-top: 5px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            width: 90%;
                            font-size: 18px;
                        }
                    }
                    .Resto__prix{
                        margin-top: 55px;
                    }
                }
                .Resto__valide {
                    width: 15%;
                    height: 80px;
                    background-color: $couleur-tertiaire;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    position: absolute;
                    right: 5.8%;
                    .check{
                        color: white;
                    }
                }
            }
        }
    }
    #bouton{
        margin-top: 80px;
    }
}
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#box1{
    animation: fadein 1S;
}
#box2{
    animation: fadein 2S;
}
#box3{
    animation: fadein 3S;
}
#box4{
    animation: fadein 4S;
}
#box5{
    animation: fadein 5S;
}
#box6{
    animation: fadein 6S;
}
#box7{
    animation: fadein 7S;
}
#box8{
    animation: fadein 8S;
}
#box9{
    animation: fadein 9S;
}
#box10{
    animation: fadein 10S;
}
.Resto__titre:hover {
    cursor: pointer;
}
.Resto__titre:hover .vide {
    display: none!important;
}
.Resto__titre:hover .coeur {
    display: block!important;
}
.Resto__titre:hover .remplissage{
    animation: coeur 1s linear;
    animation-fill-mode: forwards;
}
@keyframes coeur{
    0%{
        background-color: white;
        color: white;
    }
    50%{
        background: linear-gradient(white, 50%, #9356DC, #FF79DA);
        color: transparent;
        -webkit-background-clip: text;
    }
    100%{
        background: linear-gradient(#9356DC, #FF79DA);
        color: transparent;
        -webkit-background-clip: text;
    }
}
input{
    display: none;
}
.Resto:checked + .vide{
    display: none!important;
}
.Resto:checked ~ .coeur{
    display: block!important;
}
.Resto__box:hover {
    cursor: pointer;
}
.Resto__box:hover .Resto__valide{
    display: flex!important;
    animation: slide 1s;
}
.Resto__check{
    animation: rotation 1s;
}
.Resto__box:hover .Resto__contenu {
    width: 85%!important;
}
.Resto__box:hover .Resto__h3 {
    width: 90%!important;
}
.Resto__box:hover .Resto__p {
    width: 85%!important;
}
.box:checked ~ .Resto__valide{
    display: flex!important;
}
.box:checked ~ .Resto__contenu {
    width: 85%!important;
}
.box:checked ~ .Resto__contenu .Resto__menu .Resto__h3 {
    width: 90%!important;
}
.box:checked ~ .Resto__contenu .Resto__menu .Resto__p {
    width: 85%!important;
}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes slide{
    from{
        width: 0;
    }
    to{
        width: 15%;
    }
}
.img{
    width: inherit;
    height: 150px;
    object-fit: cover;
}
@media (max-width: 999px) and (min-width: 700px){
    #principal{
        display: flex;
        width: 100%;
        flex-direction: row;
        #top{
            display: flex;
            flex-direction: column;
            width: 50%;
            align-items: center;
        }
        #fonct{
            width: 45%;
            padding-left: 5%;
            padding-top: 20px;
            .fonct__list{
                width: 90%;
            }
        }
    }
    #Restaurants{
        flex-direction: row;
        flex-wrap: wrap;
        height: 600px;
        width: 90%;
        padding-right: 5%;
        justify-content: space-between;
        margin-top: 0px;
        h1{
            width: 100%;
        }
        #Restau{
            width: 100%;
        }
        .Restaurants__list{
            width: 47.5%;
        }
    }
    #Resto__formule{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .Resto__txt{
            width: 30%;
            height: 400px;
        }
        #bouton{
            width: 20%;
        }
    }
    #pied__contact{
        flex-direction: row;
        flex-wrap: wrap;
        height: 200px;
        #gras{
            width: 50%;
        }
        #normal{
            width: 50%;
            padding-top: 25px;
        }
    }
    .Resto__valide{
        width: 5%!important;
    }
    .entrées{
        right: 67.6%!important;
    }
    .plats{
        right: 34.9%!important;
    }
    .desserts{
        right: 2.2%!important;
    }
}
@media (min-width: 1000px){
    #pc{
        display: flex;
        height: 1200px;

        #principal{
            display: flex;
            width: 50%;
            flex-direction: column;
            #top{
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                height: 600px;
            }
            #fonct{
                width: 90%;
                padding-left: 10%;
                .fonct__list{
                    width: 90%;
                }
            }
        }
    }
    #Restaurants{
        flex-direction: column;
        flex-wrap: nowrap;
        width: 45%;
        padding-right: 5%;
        margin-top: 15px;
        justify-content: space-around;
        #Restau{
            width: 100%;
        }
        .Restaurants__list{
            width: 100%;
        }
    }
    #Resto__formule{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .Resto__txt{
            width: 30%;
            height: 400px;
        }
        #bouton{
            width: 20%;
        }
    }
    #pied__contact{
        flex-direction: row;
        flex-wrap: wrap;
        height: 200px;
        #gras{
            width: 50%;
        }
        #normal{
            width: 50%;
            padding-top: 25px;
        }
    }
    .Resto__valide{
        width: 5%!important;
    }
    .entrées{
        right: 67.6%!important;
    }
    .plats{
        right: 34.9%!important;
    }
    .desserts{
        right: 2.2%!important;
    }
}
